<!DOCTYPE html>
<html lang="en">
<title>News and Events</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
.mySlides {display:none;}
body {
   background-image: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.4));
}

.head{
    text-align:center;
    text-color:rgba(255,0,0,0.5);
}

</style>

<body>


<div class="container-fluid">


    <h1>  Donate for a cause</h1>

    <form method="POST" action="{% url 'thanku' %}" enctype="multipart/form-data">
    {% csrf_token %}

    Name:
    <br />
    <input type="text" name="Name" />
    <br />

    Age:
    <br />
    <input type="number" name="Age" />
    <br />

    Campaign_id:
    <br />
    <input type="text" name="Campaign_id" />
    <br />

    Email:
    <br />
    <input type="email" name="Email" />
    <br />

    Donations Amount:
    <br />
    <input type="number" name="PhoneNumber" />
    <br />


    <input class="btn btn-primary" type="submit" value=" Submit and Donate!" />
    </form>


</div>
  </body>

</html>
